/builds

bootstrap
lambda/slack/slack

# Devenv
.devenv*
devenv.local.nix

# direnv
/.direnv
/.devenv

# pre-commit
.pre-commit-config.yaml

# Teraform
.terraform
terraform.tfstate*
.terraform.lock.hcl
*.tfstate

# Contains secrets
/vars.tf